
<% include blocks/header.ejs %>

<div class="centerBlock">
    <table class="result">
        <tr><th><%= contactData[0].name %></th></tr>
        <tr><th><%= contactData[0].age %></th></tr>
        <tr><th><%= contactData[0].phone %></th></tr>
    </table>
</div>